/*-------------------- Base CSS start here --------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #073352;
    font-weight: 800;
}

p {
    color: #536262;
}

a {
    text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1200px;
}


/*-------------------- Scroll Up area css start --------------------*/

#scrollUp {
    background: #ed6e2f;
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 25px;
    border-radius: 2px;
}

/*-------------------- Scroll Up area css end --------------------*/


/*-------------------- Scroll Bar css start --------------------*/

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(25, 136, 215, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #2ea3f2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FB8F30;
}

html {
    scrollbar-color: #2ea3f2 rgba(25, 136, 215, 0.3);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/*-------------------- Scroll Bar css end --------------------*/


/*-------------------- Selection css start --------------------*/

::selection {
    background-color: rgba(25, 136, 215, 0.1);
    color: #2ea3f2;
}

::-webkit-selection {
    background-color: rgba(25, 136, 215, 0.1);
    color: #2ea3f2;
}

::-moz-selection {
    background-color: rgba(25, 136, 215, 0.1);
    color: #2ea3f2;
}

::-ms-selection {
    background-color: rgba(25, 136, 215, 0.1);
    color: #2ea3f2;
}

::-o-selection {
    background-color: rgba(25, 136, 215, 0.1);
    color: #2ea3f2;
}

/*-------------------- Selection css end --------------------*/


/*-------------------- Offcanvas area css start --------------------*/

.menu-close {
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 18px;
    cursor: pointer;
    transition: .4s;
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-close:hover {
    color: #000;
    background: #fff;
}

.offcanvas-area {
    position: fixed;
    left: -100%;
    height: 100%;
    width: 318px;
    background: #262846;
    z-index: 6;
    padding-top: 35px;
    -webkit-transition: .4s;
    transition: .4s;
    visibility: hidden;
    top: 0;
}

.offcanvas-area.active {
    left: 0;
    visibility: visible;
}

.offcanvas-area .main-menu ul li a {
    font-size: 18px;
    color: #fff;
    display: block;
    transition: .3s;
    padding: 16px 22px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.offcanvas-area .main-menu ul li:first-child a {
    border-top: 1px solid #fff;
}

.offcanvas-area .main-menu ul li a:hover,
.offcanvas-area .main-menu ul li a[aria-expanded="true"] {
    color: #D5D5D5;
}

.offcanvas-menu .main-menu ul {
    display: block;
    padding-top: 94px;
    padding-left: 0;
    margin-bottom: 65px;
    list-style: none;
}

.offcanvas-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 5;
}

.offcanvas-overlay.active {
    opacity: .4;
    visibility: visible;
}

.menu-open {
    font-size: 27px;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 2px;
    margin-left: 20px;
    margin-right: 8px;
}

.offcanvas-menu .common-btn {
    font-size: 17px;
    padding: 9px 30px;
    border-radius: 12px;
}

.offcanvas-btn a {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 0 auto
}

.offcanvas-btn a:hover {
    background-color: #fff;
    color: #000;
}


/*-------------------- Offcanvas area css end --------------------*/


/*-------------------- Header area css start --------------------*/

.header__area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__main__blk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header__logo {
    max-width: 80px;
}

.header__right__blk {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu ul li a {
    color: #073352;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: .3s;
}

.header__menu ul li a:hover {
    color: #2ea3f2;
}

.header__menu ul li a.active {
    color: #2ea3f2;
}

.common__btn {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ea3f2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: .3s;
    border-radius: 4px;
}

.common__btn i {
    margin-right: -14px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.common__btn:hover {
    background-color: #FB8F30;
    color: #fff;
}

.common__btn:hover i {
    margin-right: 8px;
    opacity: 1;
    visibility: visible;
}


/*-------------------- Header area css end --------------------*/


/*-------------------- Hero area css start --------------------*/

.hero__area {
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.hero__area::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 92px;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
    z-index: 3;
    backdrop-filter: blur(4px);
}

.hero__main__blk {
    position: relative;
    z-index: 1;
}

.hero__shape__1 {
    position: absolute;
    left: 6%;
    top: -2%;
    z-index: -1;
}

.hero__shape__1 span {
    width: 150px;
    height: 150px;
    display: block;
    border: 22px solid #FAEBD7;
}

.hero__shape__2 {
    position: absolute;
    right: 2%;
    top: 17%;
    z-index: -1;
}

.hero__shape__2 span {
    display: block;
    width: 180px;
    height: 180px;
    border: 20px solid rgba(25, 136, 215, 0.09);
    border-radius: 50%;
}

.hero__content {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hero__content span {
    color: #2ea3f2;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: rgba(25, 136, 215, 0.07);
    padding: 3px 12px;
    border-radius: 5px;
}

.hero__content h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 16px;
}

.hero__content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 42px;
}

.hero__content a {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 56px;
}

.hero__thumb {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    position: relative;
    z-index: -1;
}

.hero__thumb img {
    width: 100%;
}

/*-------------------- Hero area css end --------------------*/


/*-------------------- Service area css start --------------------*/

.service__area {
    background-color: #2ea3f2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service__main__blk {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.service__single__blk {
    text-align: center;
}

.service__single__blk span {
    color: #fff;
    font-size: 54px;
    display: block;
}

.service__single__blk h4 {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

/*-------------------- Service area css end --------------------*/


/*-------------------- Portfolio area css start --------------------*/

.portfolio__area {
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio__main__blk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portfolio__single__blk {
    background-color: burlywood;
    padding: 45px 34px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.portfolio__img__blk {
    position: absolute;
    right: -15%;
    bottom: 8%;
    z-index: -1;
    max-width: 324px;
    transition: .3s;
}

.portfolio__content h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.portfolio__content ul {
    margin: 0;
    padding-left: 16px;
}

.portfolio__content ul li {
    font-size: 13px;
    font-weight: 400;
    color: #073352c9;
}

.portfolio__content {
    max-width: 62%;
}

.portfolio__img__blk img {
    width: 100%;
    transition: .3s;
}

.portfolio__single__blk:hover .portfolio__img__blk {
    right: -10%;
    bottom: 5%;
}

.portfolio__single__blk:first-child {
    background-color: #b5c7d8;
}

.portfolio__single__blk:first-child .portfolio__img__blk {
    bottom: 4%;
    max-width: 300px;
}

/*-------------------- Portfolio area css end --------------------*/


/*-------------------- Brand area css start --------------------*/

.brand__area {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brand__title {
    text-align: center;
    margin-bottom: 40px;
}

.brand__title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.brand__main__blk {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
}

.brand__single__blk img {
    width: 100%;
}

/*-------------------- Brand area css end --------------------*/


/*-------------------- About area css start --------------------*/

.about__area {
    position: relative;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 30px;
}

.about__watermark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 830px;
    opacity: .04;
}

.about__area::before {
    position: absolute;
    right: -150px;
    top: 40%;
    width: 300px;
    height: 300px;
    content: "";
    z-index: -1;
    border: 20px solid aliceblue;
    border-radius: 50%;
}

.about__area::after {
    position: absolute;
    left: -150px;
    top: 0;
    width: 300px;
    height: 300px;
    content: "";
    z-index: -1;
    border: 20px solid antiquewhite;
    border-radius: 50%;
    opacity: .6;
}

.about__area .container {
    max-width: 1000px;
}

.about__title {
    text-align: center;
}

.about__title h2 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: capitalize;
}

.about__content h4 {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.about__content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.about__img {
    display: flex;
    align-items: center;
    height: 100%;
}

.about__img img {
    width: 100%;
}

.about__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

/*-------------------- About area css end --------------------*/


/*-------------------- Default area css start --------------------*/
/*-------------------- Default area css end --------------------*/


/*-------------------- Footer area css start --------------------*/

.footer__area {
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer__map iframe {
    width: 100% !important;
    height: 250px !important;
}

.footer__title {
    margin-bottom: 24px;
}

.footer__title h4 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer__logo img {
    max-width: 100px;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__info p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}

.footer__info p span {
    font-weight: 600;
}

.footer__contact__single h5 {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #2ea3f2;
}

.footer__contact__single p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer__contact__single {
    margin-bottom: 20px;
}

.footer__contact__single:last-child {
    margin-bottom: 0;
}

.footer__contact__single a {
    font-size: 15px;
    font-weight: 400;
    color: #536262;
}

.footer__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__menu ul li a {
    color: #536262;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.footer__menu ul li a:hover {
    color: #2ea3f2;
}

.footer__copy {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 24px;
    margin-top: 35px;
}

.footer__copy span {
    color: #777;
    font-size: 16px;
    font-weight: 400;
}

/*-------------------- Footer area css end --------------------*/